{% extends 'payment/template.html' %}
{% load static%}

    {% block content %}
    
   <div id= 'box'> 
   {% comment %} <img id='success-icon' src="{{payment.charity.url}"> {% endcomment %}
   <h4>Thank you for your contribution of ${{amount}}! </h4>
   <p> Your support helps me fulfill my dream. </p>
   </div>

    <div>
    <a href="{% url 'home' %}" >
                <button type="submit" class="btn btn-outline-success btn-block"> 
                Go to Home Page
                </button>
    </a>
    </div>
   

    {% endblock content %}